@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  /* background-color: #D9F5FF; */

  /* background-repeat: no-repeat; */
}
.App {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
    130deg,
    rgb(33, 150, 243),
    rgb(103, 214, 205)
  );
  box-shadow: rgb(33 150 243 / 68%) 0px 0px 1rem 2px;
  border-radius: 15px;
  margin-top: 3vh;
  padding-bottom: 4vh;
  padding: 0 2.5vh 1vh;
}
.header {
  padding: 2% 0;
  font-size: 19px;
  color: #fff;
}
.header h2 {
  text-transform: uppercase;
  font-weight: 800;
}
.form-add-money input[type="number"] {
  font-size: inherit;
  padding: 7px 17px;
  border: 0px;
  border-radius: 5px;
  outline: none;
}
.form-add-money input[type="submit"] {
  display: block;
  margin: 21px auto 0px;
  font-size: inherit;
  padding: 8px 7px;
  width: 230px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #060708;
  color: #fff;
}
.form-add-money p {
  color: #fff;
  font-weight: 500;
}

p.error {
  color: #fff;
  background-color: #d52121;
  display: inline-block;
  padding: 1px 18px 4px;
  border-radius: 7px;
  font-weight: 400;
  display: block;
}

.main-form {
  display: flex;
  justify-content: center;
  gap: 4.5vh;
  margin-bottom: 6%;
  flex-wrap: wrap;
}

.balance {
  text-align: left;
  background-color: rgb(250 250 250 / 68%);
  border-radius: 10%;
  padding: 2vh 3.5vh;
  display: grid;
  place-content: center;
  box-shadow: 0px 1px 7px #395555;
}

.cantidad:focus {
  border-color: rgb(33, 150, 243);
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.add-subscription form p {
  font-weight: 400;
  color: #fff;
  margin-bottom: 4px;
}
.add-subscription h3 {
  margin-top: 0;
}

.add-subscription form select {
  font-size: inherit;
  padding: 7px 7px;
  border: 0px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  outline: none;
}
.add-subscription input[type="number"] {
  font-size: inherit;
  padding: 8px 9px;
  width: 177px;
  border: 0px;
  outline: none;
  border-radius: 4px;
}
.add-subscription input[type="submit"] {
  display: block;
  margin: 21px auto 0px;
  font-size: inherit;
  padding: 8px 7px;
  width: 196px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #060708;
  color: #fff;
  transition-duration: 0.7s;
  font-weight: 600;
}
.add-subscription input[type="submit"]:hover {
  background-color: #fff;
  color: #060708;
}
/* single item */
.single-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  margin-bottom: 5%;
  border-radius: 13px;
  height: 25vh;
  margin: 4% 7% 3%;
  flex-wrap: wrap;
}
.single-item:hover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  margin-bottom: 5%;
  border-radius: 13px;
  height: 25vh;
  margin: 4% 7% 3%;
  flex-wrap: wrap;
  box-shadow: 0px 1px 10px #355959;
  transition: 0.3s;
}
.single-item a {
  text-decoration: none;
  font-weight: 600;
  background-color: aquamarine;
  padding: 1.5vh 1vh 1.5vh;
  border-radius: 5px;
  color: #000;
  flex-wrap: wrap;
}

.single-item a:active {
  background-color: #000101;
  color: white;
  transition: 0.5s;
}

.single-item h3 {
  margin: 0vh 1vh 0vh 1vh;
}
.single-item a.delete:hover {
  background-color: #ff020282;
}
.single-item a.edit:hover {
  background-color: #2499f18c;
}
.single-item img {
  width: 155px;
  height: auto;
}

p.author {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  gap: 7px;
  color: #000;
}
p.author a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}
